/*reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; table-layout: fixed; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-weight: normal; font-style: normal; }
ol, ul { list-style: none; }
i { font-style: normal; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
input, textarea, button { outline: none; }
input:focus, textarea:focus { outline: none; }
a {text-decoration: none; display: inline-block; }
a,button,input,textarea,label,select{-webkit-tap-highlight-color: rgba(0,0,0,0)}
html { overflow: auto; font-size: 10px; }
html, body { height: 100%; overflow: hidden; -webkit-overflow-scrolling: touch;}
body, input{ font-family:Helvetica;}
input[type="button"], input[type="submit"], input[type="reset"] { -webkit-appearance: none; appearance: none; }
*{box-sizing: border-box;}
html{font-size:62.5%;}
html,body{height:100%;font-family:"微软雅黑";}
/*首页*/
.container{height:100%;background:url("../img/bg.jpg") no-repeat center center;}
.header{width:100%;height:38px;position:fixed;top:0;left:0;background:#313234;z-index:100;}
.mid-content{width:1200px;margin:0 auto;position:relative;}
.logo{display:inline-block;height:38px;font-size:0;text-indent:-10em;background:url("../img/logo.png") no-repeat center center;width:200px;float: left;}
.nav{float:left;margin-left:80px;height:38px;line-height:38px;overflow:hidden;position:relative;}
.nav a{display:inline-block;height:38px;line-height:38px;float:left;padding:12px 0;}
.nav a span{color:#fff;border-right:1px solid #6F94CA;border-left:1px solid #6686B5;float: left;display:inline-block;height:14px;line-height:14px;padding:0 1em;font-size:1.4em;transition:0.3s;}
.nav a:first-child span{border-left:none;}
.nav a.active span{color:#3992CE;}
.nav:after{content:"";position:absolute;right:0;top:0;width:1px;height:100%;background:#313234;}
.top-menu{float:right;height:38px;line-height:38px;}
.top-menu a{font-size:1.2em;margin-left:2em;color:#fff;transition:0.3s;}
.top-menu a:hover{color:#FF574A;}
.view{padding-top:38px;height:100%;}
.view .mid-content{height:70%;}
.main-bar{padding:2% 0 2% 0;text-align:right;}
.main-bar img{transition:0.3s;}
.main-content{width:100%;height:100%;max-height:528px;}
.index-grid{width:100%;height:100%;}
.index-grid td{padding:1px;height:25%;text-align:center;cursor:pointer;position:relative;overflow:hidden;}
.index-grid td:hover{opacity:0.9;filter:alpha(opacity=90);}
.index-grid td:active{opacity:1;filter:alpha(opacity=100);}
.index-grid h2{color:#fff;font-size:1.5em;transition:0.6s;}
.index-grid p{font-size:1.2em;color:#fff;text-align:left;padding:0 1em;margin-top:1em;transition:0.6s;}
.grid-c1{background:#3992CE;}
.grid-c2{background:#03C6A4;}
.grid-c3{background:#FFA810;}
.grid-c4{background:#FF574A;}
.grid-c5{background:#68B30F;}
.grid-c6{background:#726EF7;}
.index-grid img{margin-bottom:0.8em;vertical-align: top;  }
.rota img{/*动画元素transform-style*/-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;  -webkit-transition: .6s ease-in-out ;  -moz-transition:  .6s ease-in-out ; /*动画元素背后设置为hidden*/  -webkit-backface-visibility: hidden;  -moz-backface-visibility: hidden;}
.rota .r1{-webkit-transform: rotateY(0);-moz-transform: rotateY(0);z-index: 2;}
.rota .r2{-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);  z-index: 1;}
.aside-menu .rota .r1,.aside-menu .rota .r2{transform:scale(0.7);}
.index-grid td:hover img.r1,td:hover img.r1{-webkit-transform: rotateY(-180deg);-moz-transform: rotateY(-180deg);}
.aside-menu  span:hover img.r1{-webkit-transform: rotateY(-180deg);-moz-transform: rotateY(-180deg);}
.index-grid td:hover img.r2,td:hover img.r2{-webkit-transform: rotateY(0);-moz-transform: rotateY(0);}
.aside-menu  span:hover img.r2{-webkit-transform: rotateY(0);-moz-transform: rotateY(0);}
.index-grid td:hover h2,.index-grid td:hover p{transform:translate(0,5px);}
.rota{display:inline-block;position:relative;}
.rota .r2{position:absolute;left:0;top:0;}
.index-grid .full-img{width:100%;height:100%;vertical-align: top;margin-bottom:0;transition:0.3s;}
.full-img:hover{transform: scale(1.1)}
.index-grid td.pl-30{padding-left:40px;}
.index-grid .pl-30 p{margin-top:0;}
.txtMarquee-top{position:relative;}
.txtMarquee-top .td-bar{position:absolute;left:-2em;height:60px;top:50%;margin-top:-30px;}
.td-bar a{display:block;text-align:center;width:25px;height:25px;margin-bottom:1em;}
.td-bar .scrollBtn{background:url("../img/index-icon11m.png") no-repeat center center;background-size:24px;}
.td-bar .scrollBtn.active{background:url("../img/index-icon13m.png") no-repeat center center;background-size:24px;}
.td-bar .musicBtn{background:url("../img/index-icon12m.png") no-repeat center center;background-size:24px;}
.td-bar .musicBtn.active{background:url("../img/index-icon14m.png") no-repeat center center;background-size:24px;}
.copy-right{padding-top:1.5%;}
.footer-nav{text-align: right;}
.footer-nav a{font-size:1.2em;color:#616161;margin-left:1em;}
.footer-nav a:hover{color:#FF574A;}
.copy-right p{text-align:right;font-size:1.2em;color:#616161;margin-top:1em;line-height:1.4em;}
.footer-btn{float: left;margin-top:-44px;}
.footer-btn a{display:inline-block;height:22px;line-height:22px;padding:0 0.4em;font-size:1.2em;}
.fot-c1{background:#FFA200;color:#333;}
.fot-c2{background:#5AFF00;color:#333;}
.fot-c3{background:#008AFF;color:#fff;}
/*二级*/
.view.subpage{padding-bottom:100px;}
.subpage.view .mid-content{height:100%;padding-left:235px;}
.subpage .copy-right{padding-top:0;}
.subpage .mid-content{width:97%;}
.aside{width:235px;margin-left:-235px;height:100%;padding-top:2em;float:left;}
.aside-menu{height:100%;width:100%;}
.aside-menu a{display:table;height:10%;font-size:1.6em;color:#fff;width:100%;padding-bottom:1px;}
.aside-menu a span{display:table-cell;vertical-align:middle;background:#009AE9;}
.aside-menu .active span{background:#FF574A;transition:0.3s;}
.aside-menu a span img{margin:0 2.5em 0 2em;}
.aside-menu a:hover span{background:#008ED3;}
.aside-menu a.active:hover span{background:#FF574A;}
.subpage.view .copy-right .mid-content{padding-left:260px;}
.subpage .footer-nav{border-top:1px solid #5BBDEE;padding-top:1em;}
.content{float: left;width:100%;height:100%;padding:2em 0 1em 2em;}
.content-hd{height:10%;border-bottom:1px solid #56BCEF;position:relative;}
.content-hd h2{font-size:2.4em;color:#666;line-height:4em;float:left;}
.content-nav{height:30px;position:absolute;bottom:-1px;left:15%;}
.content-nav a{font-size:1.6em;color:#0e52ae;margin-right:2em;display:inline-block;height:30px;line-height:30px;}
.content-nav a.active{border-bottom:2px solid #F65545;}
.content-btn{position:absolute;bottom:0;right:0;}
.content-btn a{margin-left:2em;}
.content-bd{height:90%;width:100%;position:relative;overflow:hidden;}
.tab-handle{position:absolute;z-index:100;top:50%;margin-top:-88px;display:block;width:88px;height:88px;border:1px solid #ADAFB0;border-radius:50%;background:#fff;text-align:center;line-height:88px;font-size:4em;cursor:pointer;color:#C6C6C6;font-weight:normal;}
.tab-handle.prev{left:0;}
.tab-handle.next{right:0;}
.tab{overflow:hidden;height:100%;/*margin:0 10em;*/}
.tab-wrap{position:relative;z-index:2;height:100%;transition:0.3s;}
.tab-item{height:100%;float:left;position:relative;padding:0 100px;width:100%;}
.row{display:table;width:100%;height:100%;}
.col{display:table-cell;vertical-align: middle;height:100%;position:relative;}
.col-25{width:25%;}
.col-75{width:75%;}
.artic{font-size:1.6em;line-height:2em;color:#333;padding:0 1em;}
.artic h1{font-size:20px;color:#ff5a00;text-align:center;margin-bottom:20px;}
.artic h2{font-size:16px;color:#0e52ae;}
.artic p{text-indent:2em;}
.artic p.newp{text-indent:0;padding-left:25px;position:relative;margin-bottom:10px;font-size:16px;}
.artic p.newp i{display:block;width:20px;height:20px;border-radius:50%;background:#3599E8;color:#fff;text-align:center;line-height:20px;position:absolute;left:0;top:6px;}
.main-tip{position:absolute;right:8em;bottom:0;padding-left:140px;min-height:100px;}
.main-tip img{position:absolute;left:0;top:0;}
.main-tip h2{font-size:1.6em;color:#333;margin-bottom:0.5em;margin-top:1em;}
.main-tip p{font-size:1.4em;color:#fc3e80;}
.table-wrap{width:100%;border-radius:5px;padding:0.8em;position:relative;}
.table-wrap table{width:100%;border:5px solid #F0F0F0;border-radius:10px;}
.table-wrap table th,.table-wrap table td{border:1px solid #C4C0B5;height:20px;font-size:14px;text-align:center;color:#666;}
.table-wrap table th{background:#FFCC00;font-size:14px;color:#333;}
.nt1{font-size:20px;color:#ff5a00;text-align:center;width:100%;}
.nt2{font-size:14px;color:#666;height:2em;line-height:2em;width:100%;text-align:right;padding-right:2em;}
.img-info{font-size:14px;color:#666;line-height:2em;width:200%;margin-bottom:20px;text-indent:0 !important;}
.slideName{display:none;}
.poster-main{position: relative;width:80%;height: 270px;margin:10em auto;}
.poster-main a,.poster-main img{width:auto !important;border:3px solid #5EAE00;}
.poster-main .poster-list{width: 900px;height: 270px}
.poster-main .poster-list .poster-item{position: absolute;left: 0px;top: 0px;text-align:center;}
.poster-main .poster-btn{position: absolute;height: 88px;width:88px;top: 50%;z-index: 10;margin-top:-44px;background:#fff;border-radius:50%;border:1px solid #ADAFB0;color:#C6C6C6;font-size:4em;line-height:88px;text-align:center;cursor:pointer;transition:0.3s;}
.poster-main .poster-prev-btn{left: 0px;}
.poster-main .poster-next-btn{right: 0px;}
.slide-artic li{display:none;}
.slide-artic li h2{font-size:1.8em;text-align:center;color:#333;}
.slide-artic li p{font-size:1.4em;color:#666;text-align:center;margin-top:1em;}
.slide-btn{font-size:0;text-align:center;position:absolute;top:500px;width:100%;left:0;z-index:10;}
.slide-btn li{display:inline-block;padding:0 5px;}
.slide-btn li span{width:16px;height:16px;font-size:1.4em;color:#f00;border-radius:50%;background:#DCDCDC;border:2px solid #DCDCDC;display:inline-block;}
.slide-btn li.active span{background:#FF574A;}
.infoList li{color:#fff;line-height:2em;text-align:left;text-indent:2em;font-size:1.2em;padding:0 1em;}
.people{position:absolute;right:1em;bottom:0;margin:0;z-index:2;width:300px;height:400px;transform:rotate(28deg) translateY(2em);z-index:11;}
.people .head{position:absolute;top:0;left:93px;transition-duration:0.2s;transition-timing-function:ease;}
.people .body{position:absolute;top:120px;left:0;}
.people .head{transform-origin:50% 100%;z-index:10;animation:people 0.8s infinite;}
.cloud{animation:cloud 20s infinite;transition-timing-function:linear;}
.welcome{animation:welcome 1.5s infinite;transition-timing-function:ease;}
.title:hover{animation:title 1s infinite;transition-timing-function:ease;}
/*.full-img{animation:fullImg 4s infinite;!*动画元素transform-style*!-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;  -webkit-transition: .6s ease-in-out ;  -moz-transition:  .6s ease-in-out ;}
.full-img.sp1{animation:fullImg1 3.5s infinite}
.full-img.sp2{animation:fullImg 5s infinite}*/
@keyframes fullImg {
    from{
        -webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);
    }
    50%{
        -webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);
    }
    to{
        -webkit-transform: rotateY(-180deg);-moz-transform: rotateY(-180deg);
    }
}
@keyframes fullImg1 {
    from{
        -webkit-transform: rotateX(0deg);-moz-transform: rotateX(0deg);
    }
    50%{
        -webkit-transform: rotateX(180deg);-moz-transform: rotateX(180deg);
    }
    to{
        -webkit-transform: rotateX(0deg);-moz-transform: rotateX(0deg);
    }
}
@keyframes title  {
    from{
        transform:rotate(2deg);
    }
    25%{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(-2deg);
    }
    75%{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(2deg);
    }
}
@keyframes people {
    from{
        transform: rotate(2deg);
        transition-timing-function:linear;
    }
    25%{
        transform: rotate(0deg);
        transition-timing-function:linear;
    }
    50%{
        transform: rotate(-2deg);
        transition-timing-function:linear;
    }
    75%{
        transform: rotate(0deg);
        transition-timing-function:linear;
    }
    to{
        transform: rotate(2deg);
        transition-timing-function:linear;
    }
}
@keyframes cloud {
    from{
        left:45%;
        transition-timing-function:linear;
    }
    25%{
        left:30%;
        transition-timing-function:linear;
    }
    50%{
        left:45%;
        transition-timing-function:linear;
    }
    75%{
        left:30%;
        transition-timing-function:linear;
    }
    to{
        left:45%;
        transition-timing-function:linear;
    }

}
@keyframes welcome {
    from{
        transform:scale(1.05)
    }
    50%{
        transform:scale(0.9)
    }
    to{
        transform:scale(1.05)
    }
}
.tab-handle:hover,.poster-main .poster-btn:hover{border-color:#009AE9;color:#009AE9;}
.txtMarquee-top .bd{height:70px;overflow:hidden;}
/**/
.table-o{width:99%;}
.table-o th{background:#F78300;color:#fff;font-size:1.6em;text-align:center;height:3em;}
.table-o td{background:rgba(255,255,255,0.8);border-bottom:1px dotted #666;height:2em;font-size:1.4em;padding:1% 2em;font-size:1.4em;color:#333;}
.table-o tr:last-child td{border:none;}
.table-o tr:nth-child(2) td:last-child{border:none;}
.bookorder h2{font-size:2.2em;color:#333;}
.bookorder img{vert-align: top;margin:1em 0;}
.bookorder p{font-size:1.6em;line-height:2em;}
.bookorder p.list{margin-right:1em;padding-left:1em;background:url("../img/icon.png") no-repeat left 12px;margin-left:-10px;}
.bookorder .col{width:33.3%;padding:0 5em;position:relative;}
.bookorder .col:last-child{border:none;}
.c-p{color:#ff574a;}
.boy{position:absolute;right:0;bottom:0;z-index:10;}
.f-n{font-size:1.6em;color:#333;line-height:2.2em;text-indent:2em;}
.movie{display:inline-block;position:relative;z-index:101;}
.col-33{width:33.3%;}
.col-66{width:66.6%;}
.girl{position:absolute;top:0;left:50%;z-index:4;margin-left:-106px;}
.video{max-width:960px;max-height:640px;display:inline-block;background:#fff;position:relative;z-index:101;}
.pop{border:5px solid #fff;border-radius:5px;background:#fff;box-shadow:0 3px 10px 2px rgba(0,0,0,.16),0 5px 20px 4px rgba(0,0,0,.1)}
.pop img{vertical-align:top;}
.popa{content:"";position:fixed;display:block;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #fff;}
.grid-list{width:90%;height:80%;margin:0 auto;}
.grid-list td{text-align:center;padding:1em;height:33.3%;}
.grid-list td .grid{display:table;width:100%;height:100%;background:#45B26F;}
.grid-list td .grid:hover{opacity:0.9;filter:alpha(opacity=90)}
.grid-list td .grid:active{opacity:1;filter:alpha(opacity=100)}
.grid-list td .grid .cell{display:table-cell;height:100%;vertical-align:middle;}
.grid-list b{text-align:center;color:#fff;font-weight:normal;display:block;font-size:1.6em;margin-top:0.5em;}
/*首页banner*/
.banner-wrap{position:relative;height:100%;overflow:hidden;}
.phone .banner-item{position:static;float:left;}
.phone .banner-item img{width:100%;}
.banner-item{position:absolute;top:0;left:0;width:100%;height:100%;}
.banner-item .animated{position:absolute;}
.wel-tag{font-size:1.4em;color:#fff;padding:3px 5px;background:#F8A202;display:inline-block;position:absolute;right:15%;top:15%;}
.wel-name{font-size:3em;color:#000;position:absolute;left:40%;top:40%;}
.sil{display:block;margin:1em auto;}
.spl{font-size:1.6em;color:#0066cc;line-height:24px;padding:0 3em;}
/**/
.item{display:none;}
.item-handler{width:28em;}
.item-handler a{display:block;height:40px;line-height:40px;background:#FFDEDB;border-radius:20px;margin-bottom:2px;font-size:14px;padding-left:50px;position:relative;color:#333;}
.item-handler a i{display:inline-block;width:30px;height:30px;line-height:30px;text-align:center;position:absolute;left:5px;top:50%;margin-top:-15px;background:#fff;border-radius:50%;color:#999;}
.item-handler a.active{background:url("../img/sanjiao.png") no-repeat 90% center #FF574A;color:#fff;}
@media all and (max-width: 1600px) {
    html{font-size:55%;}
    .item-handler a{height:30px;line-height:30px;border-radius:15px;padding-left:40px;}
    .item-handler a i{width:24px;height:24px;line-height:24px;left:3px;margin-top:-12px;}
    .main-bar{padding:1% 0;}
    .content-hd h2{line-height:2.5em;}
    .poster-main{margin:3em auto;}
    .slide-btn{top:360px;}
    .aside-menu a span b img{}
    .tab-item .row{margin-top:-3em;}
    .tab-item.tab-table .row{margin-top:0;padding-top:0 !important;}
    .tab-table .row .col-25 img{display:none;}
    .table-wrap table th, .table-wrap table td{height:1.6em;}
    .tab-handle,.poster-main .poster-btn{width:66px;height:66px;line-height:66px;font-size:3em;}
    /*.tab{margin:1em 8em;}*/
    .col-25{width:0;height:100%;overflow:hidden;}
    .col-75{width:100%;}
    .view.subpage{padding-bottom:80px;}
    .col-33 img{width:100%;}
    .girl{width:100px;margin-left:-50px;}
    /*.f-n{display:none;}*/
    /*.video-mid .col-33{width:0;}*/
    .video-mid .col-66{width:100%;}
    .table-wrap h1,.table-wrap p{position:static;}
    .t1{width:350px;}
    .b1{width:600px;}
    .p1{width:450px;}
    .t2{width:350px;}
    .b2{width:600px;}
    .p2{width:450px;}
    .wel-name{font-size:2.2em;}
    .spl{padding:0;}
    .sil{width:60% !important;}
    .sir{width:30% !important}
}
@media all and (max-width: 768px) {
    .mid-content{width:100%;}
    .index-grid tr:first-child td:first-child{display:none;}
    .index-grid tr:last-child td:first-child{display:none;}
    .main-bar,.copy-right p,.footer-nav{display:none;}
    .view{padding:5.5rem 1rem 3.5rem 1rem;}
    .header{height:4.5rem;}
    .view .mid-content{height:100%;}
    .footer-btn{margin:0;position:absolute;width:100%;bottom:1rem;}
    .copy-right{height:3.5rem;}
    .main-content{max-height:1000px;}
    .header .mid-content{height:5rem;}
    .logo{display:none;width:3rem;background-position:left center;position:absolute;left:50%;top:50%;margin-top:-19px;}
    .nav{position:relative;z-index:15;margin:0;overflow:visible;width:100%;padding-top:4.5rem;}
    .nav a{display:block;display:none;height:3rem;float:none;float:left;line-height:3rem;background:#fff;width:100%;}
    .nav a span{border:none;color:#555;}
    .nav:before{content:"";position:absolute;display:block;width:3rem;height:3rem;border-radius:50%;background:#fff;top:0.75rem;left:1rem;}
    .nav:hover a{display:block;}
    .view.subpage{padding-bottom:0;}
    .subpage.view .mid-content{padding:0;}
    .subpage .mid-content{width:100%;}
    .aside,.content{padding:0;}
    .content-hd h2{position:fixed;top:0;left:20%;width:80%;z-index:101;height:4.5rem;line-height:4.5rem;text-align:center;text-indent:-20%;font-size:2rem;color:#fff;}
    .content-hd{height:3rem;line-height:3rem;}
    .top-menu,.content-btn{display:none;}
    .content-nav{position:static;display:table;width:100%;}
    .content-nav a{margin-right:0;display:table-cell;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;padding:0.2rem;}
    .tab{margin:0;}
    .tab-handle{display:none;}
    .tab-table .col-25,.tab-table .col-75{padding:0 !important;}
    .table-wrap{height:90%;margin-top:-10%;}
    .col-33{width:0;}
    .col-66{width:100%;}
    .artic{height:75vh !important;padding:0;}
    .content-bd{height:100%;}
    .main-tip{display:none;}
    .aside{margin-left:-250px;transition:0.3s;}
    .aside.active{margin-left:-1rem;}
}