
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1462410559'); /* IE9*/
  src: url('iconfont.eot?t=1462410559#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1462410559') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1462410559') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1462410559#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-LC_icon_left_line:before { content: "\e623"; }
.icon-LC_icon_right_line:before { content: "\e600"; }
